<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Editor</title>

    <link rel="stylesheet" href="static/css/toastui-editor.min.css">
    <link rel="stylesheet" href="static/css/toastui-editor-dark.min.css">
    <script src="static/js/toastui-editor-all.min.js"></script>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/bootstrap.bundle.min.js"></script>

    <link rel="icon" type="image/x-icon" href="static/img/markdown.ico">
    
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
</head>
<body class="bg-dark">
    <nav class="navbar navbar-light bg-dark py-2 px-3">
        <div class="container-fluid">
        <span style="padding: 20px; color: white; fill: currentColor;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
            <svg viewBox="0 0 100 80" width="40" height="40" >
                <rect width="100" height="5" ></rect>
                <rect y="30" width="75" height="5" ></rect>
                <rect y="60" width="45" height="5" ></rect>
            </svg>
        </span>

        <!-- <input type="text" class="form-control bg-dark text-white" style="width: 15%;" id="filename"> -->
        <strong id="filename" class="h5 text-white"></strong>
        
        <form class="d-flex">
            <div id="status" class="form-control me-2 bg-info text-white border-0">Status: Saved</div>
            <button id="btn-save" class="btn btn-primary" type="button" onclick="save()" disabled>Save</button>
        </form>
        </div>
    </nav>

    <div id="editor" style="padding: 20px;"></div>

    <!-- Offcanvas -->
    <div style="width: 20%;" class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
        <div class="offcanvas-header">
          <strong class="offcanvas-title h5" id="offcanvasWithBackdropLabel">List Files</strong>
          <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group list-group-flush" id="list-files"></ul>
            <div class="input-group mt-3">
                <input id="new-file-input" type="text" class="form-control bg-dark text-white"  placeholder="Input new file here" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">.md</span>
            </div>
            <div class="d-grid gap-2 mt-4">
                <button type="button" class="btn btn-success" onclick="showNewFile()">New File</button>            
            </div>
        </div>
    </div>

</body>
<script>

    var title = "";
    var filepath = "";
    var currpath = "";
    
    // hide title
    document.getElementById('filename').style.display = "none";

    // hide new file input
    document.getElementById('new-file-input').value = '';
    document.getElementById('new-file-input').style.display = "none";
    document.getElementById('basic-addon2').style.display = "none";

    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        previewStyle: 'vertical',
        height: '500px',
        theme: 'dark',
    });

    async function getContent(url) {
        const res = await fetch(url);
        let data = await res.json();
        let txt = "";

        console.log(data);

        title = data["Title"];
        
        if(title){
            document.getElementById("btn-save").removeAttribute('disabled');
            document.getElementById('filename').style.display = "";
        }
        
        // set title
        document.getElementById("filename").innerHTML = title;

        // set filepath
        currpath = data["CurrentPath"];

        // list files
        data["List_files"].forEach( el => {
            if( el.Filename === title ){
                txt += 
                `
                <a class="list-group-item active" aria-current="true">`+el.Filename+`</a>
                `;
                filepath = currpath+'/'+el.Filename;
            }else{
                txt += 
                `
                <a href="/edit?path=`+el.Filepath+`" class="list-group-item bg-dark text-white" aria-current="true">`+el.Filename+`</a>
                `
            }
        });

        document.getElementById("list-files").innerHTML = txt;

        // set content to markdown editor
        editor.setMarkdown(data["Content"]);
    }

    // call get content method
    getContent("/read");

    // hide status
    document.getElementById('status').style.display = "none";

    // Save function
    async function save() {

        let content = editor.getMarkdown();

        let data = new FormData();

        data.append("Filepath",filepath);
        data.append("Content",content);

        fetch("/",{
            method: 'POST',
            body: data,
        })
        .then( (res) => {
            console.log(res.json());
            document.getElementById('status').style.display = "";

            setTimeout(() => {
                document.getElementById('status').style.display = "none";
            }, 3000);
        })
        .catch( (err) => {
            let link = document.createElement('a');
            mimeType = 'text/html' || 'text/plain';
    
            link.setAttribute('download', title+".md");
            link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(content));
            link.click();
        })

    }
    
    // Rename file
    async function rename() {
        currpath = currpath+title;
        await save();
        window.location.href = "/edit?path="+filepath;
    }

    function newFile() {
        let new_file = document.getElementById("new-file-input").value;
        
        if(new_file){            

            let path = currpath+'/'+new_file+'.md';
            let data = new FormData();

            data.append("Filepath",path);

            fetch("/new",{
                method: 'POST',
                body: data,
            })
            .then( (res) => {
                console.log(res.json());
                document.getElementById('list-files').innerHTML += '<a href="/edit?path='+path+'" class="list-group-item bg-dark text-white" aria-current="true">'+new_file+'.md</a>'
            })
            .catch( (err) => {
                let link = document.createElement('a');
                mimeType = 'text/html' || 'text/plain';
        
                link.setAttribute('download', title+".md");
                link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(content));
                link.click();
            })

        }
    }

    // hide new file input
    function hideNewFile() {
        document.getElementById("new-file-input").style.display = 'none';
        document.getElementById("basic-addon2").style.display = 'none';
    }

    // when new file input not focused
    document.getElementById('new-file-input').addEventListener('blur',hideNewFile);

    // Execute a function when the user releases a key on the keyboard
    document.getElementById('new-file-input').addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            newFile();
            hideNewFile();
        }
    }); 

    // Show new file input
    function showNewFile(){
        document.getElementById("new-file-input").value = '';
        document.getElementById("new-file-input").style.display = '';
        document.getElementById("basic-addon2").style.display = '';
        document.getElementById("new-file-input").focus();
    }

</script>
</html>