<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Editor</title>
    <link rel="stylesheet" href="/static/css/toastui-editor.min.css">
    <link rel="stylesheet" href="/static/css/toastui-editor-dark.min.css">
    <script src="/static/js/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="container-fluid">
    <div class="navbar">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="list-files"></div>
        </div>
        <span onclick="openNav()" class="menu-bar">
            <svg viewBox="0 0 100 80" width="40" height="40">
                <rect width="100" height="5" ></rect>
                <rect y="30" width="75" height="5" ></rect>
                <rect y="60" width="45" height="5" ></rect>
            </svg>
        </span>
        <h2 id="filename" class="title"></h2>
        <div class="float-right">
            <div id="status" class="tag">Status: Saved</div>
            <button id="btn-save" type="button" class="btn btn-primary" onclick="save()" >Save</button>
        </div>
    </div>

    <div id="editor"></div>
</body>
<script>

    var title;
    var filepath;

    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        previewStyle: 'vertical',
        height: '500px',
        theme: 'dark',
    });

    function click_link(url) {
        closeNav();
        getContent(url);
        document.getElementById("btn-save").removeAttribute("disabled");
    }

    async function getContent(url) {
        const res = await fetch(url);
        let data = await res.json();
        let txt;

        console.log(data);
        
        // list files
        data["List_files"].forEach( el => {
            txt += 
            "<a href='/edit?path="+el.Filepath+"' >"+el.Filename+"</a>"; 
        });

        document.getElementById("list-files").innerHTML = txt;

        title = data["Title"];

        // set title
        document.getElementById("filename").innerHTML = title;

        // set filepath
        filepath = data["CurrentPath"];

        // set content to markdown editor
        editor.setMarkdown(data["Content"]);
    }

    // call get content method
    getContent("/read");

    // hide status
    document.getElementById('status').style.display = "none";

    /* Set the width of the side navigation to 250px */
    function openNav() {
        // document.getElementById("mySidenav").style.display = "block"; 
        document.getElementById("mySidenav").style.width = "350px";
        document.getElementById("editor").style.marginLeft = "350px";
    }
    
    /* Set the width of the side navigation to 0 */
    function closeNav() {
        // document.getElementById("mySidenav").style.display = "none"; 
        document.getElementById("mySidenav").style.width = "0px";
        document.getElementById("editor").style.marginLeft = "0px";
    }

    // Save function
    async function save() {

        let content = editor.getMarkdown();

        fetch("/",{
            method: 'POST',
            body: JSON.stringify({
                "Filepath":filepath,
                "content":content,
            })
        })
        .then( (res) => {
            console.log(res.json());
            document.getElementById('status').style.display = "";

            setTimeout(() => {
                document.getElementById('status').style.display = "none";
            }, 3000);
        })
        .catch( (err) => {
            let link = document.createElement('a');
            mimeType = 'text/html' || 'text/plain';
    
            link.setAttribute('download', title);
            link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(content));
            link.click();
        })

    }

</script>
</html>