:root{
    --primary: rgb(30, 135, 240);
    --success: #42b983;
}

.list-middle a{
  text-align: center;
  font-size: large;
  text-decoration: none;
  color: #818181;
}

.list-middle a:hover{
  color: white;
}

.title{
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

body{
    /* background-color: #37383e; */
    background-color: #1d1e20;
    font-family: "Fira Code", monospace;
}

.form-control {
  display: block;
  width: 75%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.menu-bar{
    padding: 20px;
    color: white;
    /* color: rgb(30, 135, 240);  */
    fill: currentColor;
}

 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
  /* padding: 2px 16px; */
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  background-color: var(--primary);
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  color: white;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.btn{
    right: 30px;
    /* position: fixed; */
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid var(--primary);
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s
}

.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
}

.btn-success{
    background-color: var(--success);
    border-color: var(--success);
    color: white;
    /* position: relative; */
    width: 50%;
    margin: 5% 30%;
    display: inline-block;
}

.gap-2 {
  gap: .5rem !important;
}
.d-grid {
  display: grid !important;
}

.btn-success:hover{
  background-color: #20c997;
}

.btn-primary:hover{
    background-color: #0dcaf0;
}

.btn-primary.disabled
.btn-primary:disabled{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn.disabled,
.btn:disabled{
  pointer-events: none;
  opacity: .65;
}

.tag{
    position: fixed; 
    display: inline-block;
    right: 150px;
    margin-bottom: 0.5rem;
    padding: .375rem .75rem;
    color: white;
    font-weight: 400;
    line-height: 1.5;
    background: var(--success);
    font-size: 1rem;
}


.selected{
  background-color: var(--primary);
  color: #f1f1f1;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

/* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px;
}

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #editor{
    /* transition: margin-left .5s; */
    padding: 20px;
  }

  .navbar{
    position: relative;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    background-color: #212529!important;
  }

  .navbar-item{
    float: left;
    display: block;
    text-align: center;
  }

  .container-fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .float-right{
    float: right;
    top: 1rem;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  